.wrapper {
  border-radius: 20px;
  box-shadow: 1px 1px 10px gray;
  width: 20%;
  padding: 20px;
  .pricecontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
    .priceinner {

    }
  }
}